/* ---------- GLOBAL THEME COLORS ---------- */

:root {
  --bg: #f8f9ff;
  --card-bg: #ffffff;
  --card-border: #e5e7eb;
  --logo-bg: #f9fafb;
  --logo-border: #e5e7eb;

  --text-title: #111827;
  --text-sub: #6b7280;

  --tag-bg: #ede9fe;
  --tag-text: #6d28d9;

  --accent: #7c3aed;

  --table-head: #f3f4f6;
  --table-hover: #f3e8ff;

  --shadow: rgba(0,0,0,0.1);
}

/* DARK THEME */
[data-theme="dark"] {
  --bg: #0f172a;
  --card-bg: #1e293b;
  --card-border: #334155;
  --logo-bg: #1e293b;
  --logo-border: #334155;

  --text-title: #f1f5f9;
  --text-sub: #cbd5e1;

  --tag-bg: #4c1d95;
  --tag-text: #e9d5ff;

  --accent: #c084fc;

  --table-head: #1e293b;
  --table-hover: #312e81;

  --shadow: rgba(0,0,0,0.45);
}

body {
  background: var(--bg);
  transition: 0.3s ease;
}
